$ucf-footer-gray:  #3e3e3e;
$ucf-footer-white: #fff;
$ucf-footer-font-family: 'Gotham SSm A', 'Gotham SSm B', 'UCF Sans Serif Alt', 'Helvetica Neue', Arial, sans-serif;
$ucf-footer-social-icons: '../social-links-gray.svg' !default;

%ucf-footer-inline-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

%ucf-footer-inline-item {
  display: inline-block;
  margin-bottom: 1em;
}


// NOTE: overqualified selectors are intentionally added to help override
// greedy theme stylesheets as much as possible.
//
// sass-lint:disable no-qualifying-elements

.ucf-footer {
  background-color: $ucf-footer-gray;
  box-sizing: border-box;
  display: block;
  margin: 0;
  padding: 30px 15px;
  text-align: center;
  width: 100%;

  @media (min-width: 768px) {
    padding: 60px;
  }

  // Greedy greedy greedy!
  a,
  span,
  p,
  ol,
  ul,
  li {
    -moz-osx-font-smoothing: auto; // sass-lint:disable-line no-vendor-prefixes
    -webkit-font-smoothing: auto; // sass-lint:disable-line no-vendor-prefixes
    color: $ucf-footer-white;
    font-family: $ucf-footer-font-family;
  }
}

.ucf-footer-title {
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 1.4;
  margin-bottom: 12px;
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 22px;
  }

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
  }
}

.ucf-footer-address {
  font-size: 10px;
  font-weight: 400;
  line-height: 1.8;
  margin-bottom: 0;
  margin-top: 25px;

  @media (min-width: 768px) {
    font-size: 12px;
  }
}

.ucf-footer-social {
  @extend %ucf-footer-inline-list;
  margin-bottom: 14px;
}

.ucf-footer-social-item {
  @extend %ucf-footer-inline-item;
}

.ucf-footer-social-link {
  background-image: url($ucf-footer-social-icons);
  background-repeat: no-repeat;
  background-size: 240px 66px;
  display: none;  // hide links that we don't have an icon for
  height: 33px;
  margin: 0 4px;
  overflow: hidden;
  width: 34px;

  &[href*='facebook'] {
    background-position: 0 0;
    display: block;

    &:hover,
    &:active,
    &:focus {
      background-position: 0 100%;
    }
  }

  &[href*='twitter'] {
    background-position: -34px 0;
    display: block;

    &:hover,
    &:active,
    &:focus {
      background-position: -34px 100%;
    }
  }

  &[href*='youtube'] {
    background-position: -172px 0;
    display: block;

    &:hover,
    &:active,
    &:focus {
      background-position: -172px 100%;
    }
  }

  &[href*='ucf.edu/social'] {
    background-position: -69px 0;
    display: block;

    &:hover,
    &:active,
    &:focus {
      background-position: -69px 100%;
    }
  }

  &[href*='linkedin'] {
    background-position: -138px 0;
    display: block;

    &:hover,
    &:active,
    &:focus {
      background-position: -138px 100%;
    }
  }

  &[href*='instagram'] {
    background-position: -206px 0;
    display: block;

    &:hover,
    &:active,
    &:focus {
      background-position: -206px 100%;
    }
  }
}

.ucf-footer-nav {
  @extend %ucf-footer-inline-list;
}

.ucf-footer-nav-item {
  @extend %ucf-footer-inline-item;
  border-right: 1px solid $ucf-footer-white;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.4;
  padding-left: .6em;
  padding-right: 1em;

  @media (min-width: 768px) {
    font-size: 12px;
  }

  &:last-child {
    border-right: 0 solid transparent;
  }
}

a.ucf-footer-nav-link {
  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;

  &,
  &:hover,
  &:active,
  &:focus {
    color: $ucf-footer-white;
  }

  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
  }
}

a.ucf-footer-underline-link {
  text-decoration: underline;
}

// sass-lint:enable no-qualifying-elements
