@import 'ucf-athena-framework/src/scss/variables';
@import 'ucf-athena-framework/src/scss/bootstrap/mixins/breakpoints';

.navbar-custom {
  z-index: 3;

  .navbar-collapse {
    @include media-breakpoint-down(md) {
      background-color: transparentize(darken($brand-default, 25%), .025);
      left: 0;
      position: absolute;
      right: 0;
      top: 4.35rem;
      z-index: 1;
    }
    @include media-breakpoint-down(xs) {
      left: -$navbar-padding-x;
      right: -$navbar-padding-x;
    }

    &.collapse.show,
    &.collapsing {
      border-top: 0 solid transparent;
    }
  }

  .navbar-nav {
    @include media-breakpoint-down(md) {
      margin-left: 0;
      margin-right: 0;
      padding: $grid-gutter-width-base * .5;
    }
    @include media-breakpoint-up(lg) {
      width: 100%;
    }

    .nav-link {
      @include media-breakpoint-only(lg) {
        font-size: .7rem;
      }
      @include media-breakpoint-down(md) {
        color: $white;
      }

      &:hover,
      &:focus,
      &:active {
        background-color: rgba(0, 0, 0, .9);
        color: $white;
      }
    }

    .nav-item:last-child {
      @include media-breakpoint-up(lg) {
        margin-right: -$grid-gutter-width-base;
      }

      .nav-link {
        background-color: $brand-primary;
        color: $black;
        text-shadow: none;

        &:hover,
        &:focus,
        &:active {
          background-color: $black;
          color: $white;
        }
      }
    }
  } // scss-lint:enable NestingDepth SelectorDepth
}
