.location-result-heading {
    border-bottom: 1px solid #ccc;
    font-size: 1.25rem;
    font-weight: 400;
    padding-bottom: 1rem;
}

.location-heading {
    font-size: .95rem;
}

.sidebar-result a {
    font-size: .8rem;
}
